<template>
    <select
      v-model="selectedValue"
      @change="changeHandler"
      >
        <option
            v-for="option in options"
            :value="option.value"
            :key="option.value"
            :selected="defaultValue == option.value">
        {{option.name}}
        </option>
    </select>
</template>

<script lang="ts">
import Vue from 'vue'
import { ISelectData, ISelectOption } from './ISelect'

const Select = Vue.extend({
  props: {
    /**
     * Options in the select
     */
    options: {
      type: Array,
      required: true,
      default: ():Array<ISelectOption> => ([
        {
          name: 'option name',
          value: 'option value'
        }
      ])
    },
    /**
     * Preselected value
     */
    defaultValue: {
      type: String
    }
  },
  data ():ISelectData {
    return {
      /**
       * Selected value binded to Select element
       */
      selectedValue: this.$props.defaultValue
    }
  },
  watch: {
    defaultValue (value) {
      this.selectedValue = value
    }
  },
  methods: {
    changeHandler () {
      /**
       * Triggered when you choose a different option
       */
      this.$emit('select-changed', this.selectedValue)
    }
  }
})
export default Select

</script>

<style scoped lang="scss">
  @import '../../shared/_mixins';

  select {
    @include baseInput;
    cursor: pointer
  }
</style>
