<template>
    <Converter>
        <template #top-dropdown>
          <div class="crypto_dropdown__wrapper">
            <div class="crypto_dropdown__description">
              Select conversion:
            </div>
            <Select
              @select-changed="conversionTypeChanged"
              :options="currencySelectOptions"
              :defaultValue="conversionType"
            />
          </div>
        </template>
        <template #start-input>
            <NumberInput @number-changed="startAmountChanged"/>
        </template>
        <template #target-input>
            <NumberInput :isReadOnly="true" :numberValueProp="targetCurrencyValue"/>
        </template>
    </Converter>
</template>

<script lang="ts">
import Vue from 'vue'
import Select from '../../shared_components/Select/Select.vue'
import Converter from '../../layout/Converter/Converter.vue'
import NumberInput from '../../shared_components/NumberInput/NumberInput.vue'
import CurrencyFacade from '../../facades/CurrencyFacade/CurrencyFacade'
import { ICryptoCurrency } from '../../facades/CurrencyFacade/ICurrencyFacade'
import { ISelectOption } from '../../shared_components/Select/ISelect'

export default Vue.extend({
  components: {
    Converter,
    NumberInput,
    Select
  },
  data () {
    return {
      currencyList: [],
      conversionType: '',
      startCurrencyValue: 0,
      targetCurrencyValue: 0
    }
  },
  computed: {
    currencySelectOptions ():ISelectOption {
      return this.$data.currencyList.map((currencyItem:ICryptoCurrency) =>
        ({ name: currencyItem.symbol, value: currencyItem.symbol }))
    }
  },
  methods: {

    startAmountChanged (amount:number):void {
      this.$data.startCurrencyValue = amount
      this.$data.targetCurrencyValue = this.setTargetValue(amount, this.$data.conversionType)
    },

    conversionTypeChanged (value:string):void {
      this.$data.conversionType = value
      this.$data.targetCurrencyValue = this.setTargetValue(this.$data.startCurrencyValue, this.$data.conversionType)
    },

    setTargetValue (amount:number, conversionType:string):number {
      const currencyItem:ICryptoCurrency = this.$data.currencyList
        .find((currencyItem:ICryptoCurrency) =>
          conversionType === currencyItem.symbol)

      return amount * parseFloat(currencyItem.price)
    }
  },
  async beforeMount () {
    /**
     * fetch list of crypto currencies
     */
    this.$data.currencyList =
      await CurrencyFacade.getCryptoCurrencies().then((results:any) => {
        if (!results) {
          return []
        } else {
          return results
        }
      })
    this.$data.conversionType = this.$data.currencyList[0].symbol
  }
})
</script>

<style lang="scss" scoped>
  .crypto_dropdown__wrapper{
    display: flex;
    margin-bottom: 5px
  }

  .crypto_dropdown__wrapper>select{
    flex:auto
  }
  .crypto_dropdown__description{
    display: flex;
    align-items: center;
    margin-right:10px
  }
</style>>
