<template>
<div>
    <slot name="top-dropdown">
    </slot>
    <div>
        <slot name="conversion-type">
        </slot>
    </div>
    <div class="form__line">
        <slot name="start-input">
        </slot>
        <slot name="start-dropdown">
        </slot>
    </div>
    <div class="form__line">
        <slot name="target-input">
        </slot>
        <slot name="target-dropdown">
        </slot>
    </div>
</div>

</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
})
</script>

<style scoped  lang="scss">
    .form__line{
        display: flex;
        margin-bottom: 5px;
    }
</style>
