<template>
    <Converter>
        <template #start-input>
            <NumberInput @number-changed="startAmountChanged"/>
        </template>
        <template #start-dropdown>
            <Select
              @select-changed="startCurrencyChanged"
              :options="currencyList"
              :defaultValue="startCurrency"
            />
        </template>

        <template #target-input>
            <NumberInput :isReadOnly="true" :numberValueProp="targetCurrencyValue"/>
        </template>

        <template #target-dropdown>
            <Select
              @select-changed="targetCurrencyChanged"
              :options="currencyList"
              :defaultValue="targetCurrency"
            />
        </template>
    </Converter>
</template>

<script lang="ts">
import Vue from 'vue'
import Select from '../../shared_components/Select/Select.vue'
import Converter from '../../layout/Converter/Converter.vue'
import NumberInput from '../../shared_components/NumberInput/NumberInput.vue'
import CurrencyFacade from '../../facades/CurrencyFacade/CurrencyFacade'

export default Vue.extend({
  components: {
    Converter,
    Select,
    NumberInput
  },
  data () {
    return {
      currencyList: [],
      startCurrency: '',
      targetCurrency: '',
      startCurrencyValue: 0,
      targetCurrencyValue: 0
    }
  },
  methods: {
    async startAmountChanged (amount:number):Promise<void> {
      this.$data.startCurrencyValue = amount
      this.$data.targetCurrencyValue = await this.setTartgetValue(amount)
    },
    async startCurrencyChanged (currency:string):Promise<void> {
      this.$data.startCurrency = currency
      this.$data.targetCurrencyValue = await this.setTartgetValue(this.$data.startCurrencyValue)
    },
    async targetCurrencyChanged (currency:string):Promise<void> {
      this.$data.targetCurrency = currency
      this.$data.targetCurrencyValue = await this.setTartgetValue(this.$data.startCurrencyValue)
    },
    async setTartgetValue (amount:number):Promise<number|null> {
      return await CurrencyFacade.getFiatAmount(
        this.$data.startCurrency,
        this.$data.targetCurrency,
        amount)
    }
  },
  async beforeMount () {
    /**
     * fetch list of fida currencies
     */
    const currencyListObject =
      await CurrencyFacade.getFiatCurrencies().then((results:any) => {
        if (!results) {
          return []
        } else {
          return results.map((name:string) => ({ name: name, value: name }))
        }
      })

    this.$data.currencyList = currencyListObject
    this.$data.startCurrency = this.$data.currencyList[0].value
    this.$data.targetCurrency = this.$data.currencyList[1].value
  }
})
</script>

<style scoped lang="scss">
  select {
    border-radius: 0 5px 5px 0;
  }
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: none;
  }
</style>
