@mixin baseInput {
    background-color: white;
    border-color: gainsboro;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 5px;
    -moz-appearance: textfield;
}

@mixin minScreen768px{
    @media screen and (min-width: 768px) {
        @content
    }
}