<template>
  <div class="page__wrapper">
    <HomePage :fadeInPage="fadeInPage"/>
  </div>
</template>

<script lang="ts">
/**
 * Most top level component
 * @displayName App
 */
import Vue from 'vue'
import HomePage from './pages/HomePage/HomePage.vue'
import CONVERSION_TYPES from './shared/data'
export default {
  data () {
    return {
      conversionTypes: CONVERSION_TYPES,
      fadeInPage: false
    }
  },
  components: {
    HomePage
  },
  methods: {
    selectChangeHandler () {
      return null
    }
  },
  mounted () {
    const loaderImage: HTMLDivElement|null = document.querySelector('.spinner')
    loaderImage?.classList.add('fadeout')
    setTimeout((vueComponent:Vue) => {
      vueComponent.$data.fadeInPage = true
      if (loaderImage) { loaderImage.style.display = 'none' }
    }, 1000, this)
  }
}
</script>

<style lang="scss">

  .page__wrapper{
    width: 100%;
    height: 100%
  }
</style>
