<template>
    <input
      type="number"
      v-model="numberValue"
      :min="minValue"
      :readonly="isReadOnly"
      @change="handleChange"
      @keyup="handleChange"
      :class={disabled:isReadOnly}
    />
</template>

<script lang="ts">
import Vue from 'vue'
import { INumberInputData } from './INumberInput'
export default Vue.extend({
  props: {
    /**
     * Minimum value of the input
     */
    minValue: {
      type: Number,
      default: 0
    },
    isReadOnly: {
      type: Boolean,
      default: false
    },
    numberValueProp: {
      type: Number,
      required: false
    }
  },
  data ():INumberInputData {
    return {
      /**
       * Value of the number input
       */
      numberValue: this.$props.numberValueProp ? this.$props.numberValueProp : 0
    }
  },
  watch: {
    numberValueProp () {
      this.$data.numberValue = this.$props.numberValueProp
    }
  },
  methods: {
    handleChange ():void {
      if (!this.numberValue) {
        /**
         * emmited if input value is empty or NaN
         **/
        this.$emit('invalid-value')
      } else if (this.numberValue < this.minValue) {
        this.$emit('smaller-than-min-value', this.numberValue)
      } else {
        /**
         * Emitted on success value change
         */
        this.$emit('number-changed', this.numberValue)
      }
    }
  }
})
</script>

<style scoped lang="scss">
  @import '../../shared/_mixins';

  input {
    @include baseInput;
    width: 100%;
    -webkit-appearance: none;
  }

  .disabled{
    background: gainsboro;
    cursor: default;
    -moz-appearance:textfield;
  }

  .disabled:focus{
    border-color: gainsboro;
    outline:0
  }
</style>
