<template>
  <div>
    <div class="tab_switcher__selectors">
      <div
        class="tab_switcher__selector"
        :class="{active: selectedTab == tabTitles.indexOf(tabTitle)+1}"
        v-for="tabTitle in tabTitles"
        :key="tabTitles.indexOf(tabTitle)+1"
        @click="switchTab(tabTitles.indexOf(tabTitle) + 1)"
      >
        {{tabTitle}}
      </div>
    </div>
    <div
      v-for="index in numberOfTabs"
      :key="index"
      v-show="selectedTab === index">
      <slot :name="'tab'+index"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    numberOfTabs: {
      required: true,
      default: 1,
      type: Number
    },
    tabTitles: {
      required: true,
      type: Array
    }
  },
  data () {
    return {
      selectedTab: 1
    }
  },
  methods: {
    switchTab (tabId:number):void {
      this.$data.selectedTab = tabId
    }
  }
})
</script>

<style scoped lang="scss">
  .tab_switcher__selectors,.tab_switcher__selector{
    display: flex;
  }
  .tab_switcher__selectors{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gainsboro;
    border-style: solid;
    margin-bottom: 10px
  }
  .tab_switcher__selector{
    flex: 1;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
  }

  .active{
    background:purple;
    border-radius: 5px;
    color:white;
    cursor:default
  }
</style>
