<template>
        <div>
        <div
          class="homepage__background"
          :class={fadein:fadeInPage}
        >
        <img
          class="homepage__logo"
          :class={fadein:fadeInPage}
          :src="require('../../assets/images/logo.png').default">
        </div>
        <TabSwitcher
          :numberOfTabs="2"
          :tabTitles="tabTitles"
          class="tab_switcher"
          :class={fadein:fadeInPage}
        >
          <template #tab1 something="something">
            {{test}}
            <keep-alive>
              <FiatConverter></FiatConverter>
            </keep-alive>
          </template>

          <template #tab2>
            <keep-alive>
              <CryptoConverter></CryptoConverter>
            </keep-alive>
          </template>
        </TabSwitcher>
        </div>
</template>

<script lang="ts">
import Vue from 'vue'
import FiatConverter from '../../component/FiatConverter/FiatConverter.vue'
import CryptoConverter from '../../component/CryptoConverter/CryptoConverter.vue'
import TabSwitcher from '../../shared_components/TabSwitcher/TabSwitcher.vue'
import CONVERSION_TYPES from '../../shared/data'

export default Vue.extend({
  components: {
    FiatConverter,
    CryptoConverter,
    TabSwitcher
  },
  data () {
    return {
      selectedConverter: CONVERSION_TYPES.FIAT,
      converters: CONVERSION_TYPES,
      tabTitles: [CONVERSION_TYPES.FIAT, CONVERSION_TYPES.CRYPTO]
    }
  },
  props: {
    fadeInPage: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    fadeInPage (value:boolean) {
      if (value) {
        (document.querySelector('#appContainer') as HTMLDivElement).style.opacity = '1'
      }
    }
  },
  beforeMount () {
    this.$data.converters = Object.keys(CONVERSION_TYPES)
      .map((key: string) => ({ name: key, value: CONVERSION_TYPES[key] }))
  }
})
</script>

<style scoped lang="scss">
  @import '../../shared/_mixins.scss';
  .homepage__background{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity:0;
    transition: opacity 1s ease-out;
    background: url('../../assets/images/background.jpg');
    @include minScreen768px{
      position: relative;
      width: 0%;
      opacity:1;
      overflow:hidden;
      transition: width 1s ease-out;
    }
  }

  .homepage__logo{
    width: 150px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    @include minScreen768px{
      left:25vw;
      top:50%;
      transform: translate(-50%,-50%)
    }
  }

  .homepage__background.fadeIn{
    opacity:1;
    @include minScreen768px{
      width: 50%;
    }
  }

  .tab_switcher{
    position: absolute;
    top: 38%;
    right: 50%;
    transform: translate(50%, 0%);
    width: 90%;
    background-color:white;
    border-radius: 5px;
    padding: 5% 5%;
    max-width: 450px;
    opacity:0;
    @include minScreen768px{
      right: 25%;
      width: 46%;
      max-width: 477px;
      border-style: solid;
      border-color: gainsboro;
      padding: 20px;
      border-width: 2px;
    }
  }

  .tab_switcher.fadeIn{
    animation: tabSwitcherIn 1s forwards
  }
  @keyframes tabSwitcherIn {
    from{
      opacity: 0;
      margin-top: 20px
    }
    to{
      opacity: 1;
      margin-top: 0px
    }
  }
</style>
